.technologiesSection {
    display: flex;
    padding: 73.3px 85.3px;
    margin-bottom: 6em;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
}

.iconContainer {
    margin-top: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8em;
}

.iconBox {
    border: 4px solid gray;
    border-radius: 25px;
    padding: 12px;
}

.icon {
    font-size: 55px;
    /* color: blue; */
}

@media only screen and (max-width: 1200px) {
    .technologiesSection {
        margin-bottom: 1em;
        padding: 73.3px 45.3px;


    }

    .iconContainer {
        flex-wrap: wrap;
    }
}